
body {
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
    
}

/*  HEADINGS    */

h1 {
    margin-top: 0;
    font-size: 50px;
    color: #45b29a;
    font-family: 'Sacramento', cursive;
}

.h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #45b29a;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}


/*  TOP CONTAINER   */

.top-container {
    background-color: #e0ebe8;                   /* #E4F9F5; */
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 350px;
    top: 53px;
    
}
.bottom-cloud {
    position: absolute;
    bottom: 315.5px;
    left: 350px;
}

/*  FIRST CONTAINER */

.first-container {
    background-color: white;
    color: #45b29a;
    padding-bottom: 30px;
    padding-top: 10px;
}

.first-p {
    color: black;
}

.table-first-div {
    border-color: #4C6793;
    margin:auto;
    text-align: center;
  }

  .h2-first-container {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: rgb(223, 159, 159);
}

  /*    SECOND CONTAINER    */
.second-container {
    background-color: #e0ebe8;
    padding-top: 5px;
    padding-bottom: 150px;
    position: relative;
}
.h2-second-container {
    color: #45b29a;
}
.image-logo-skill {
    width: 100px;
}
#image-1 {
    position: absolute;
    top: 38%;
    left: 30%;

}
#image-2{
    position: absolute;
    top: 38%;
    left: 45%;
}
#image-3 {
    position: absolute;
    top: 38%;
    left: 58%;
}
#text-second-container {
    position: absolute;
    left: 70%;
    top: 53%;
}
  /*    BOTTOM CONTAINER*/

.bottom-container {
    background-color: white; 
    color: #45b29a;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo-img {
    width: 50px;
  }

