body {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #fff;
    background-color: #000;
    background-image: linear-gradient(342.55deg, #051721 58.12%, #092331 88.45%);
    
}

/* Heading h1 h2 h3  */
h1 {
    color: rgb(226, 120, 39);
}

h2 {
    color: rgb(89, 149, 240);
    padding-bottom: 4%;
    padding-top: 2%;
}

h3 {
    color: #fff;
    margin: 2% auto 2%;
}

.abc
{
    display:flex;
    flex-wrap: nowrap;

}

/* Name Container */

.name-container {
    margin: 10% auto 10%;
}

/* About Me Container */


.profile-image {
    width: 17%;
    border-radius: 100%;
}

/* Education container */

.education-container {
    padding-top: 2%;
    padding-bottom: 2%;
}

/* Skills Container */

.skills-container {
    padding-top: 4%;
    padding-bottom: 5%;
}

.skills-logo {
    width: 30%;

}



/* Contact Me Container */










/*

body {
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
    
}
HEADINGS   

h1 {
    margin-top: 0;
    font-size: 437.5%;                     100% is equivalent to 16px      therefore, 70px = 70*100/16 = 437.5% 
    color: #45b29a;
    font-family: 'Sacramento', cursive;
}

.h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;               40px = 40*100/16 = 250%   
    color: #284680;
}

TOP CONTAINER  

.top-container {
    background-color: #e0ebe8;                   #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 20%;
    top: 10%;
}
.bottom-cloud {
    position: absolute;
    top: 40%;
    left: 22%;
}

#below-name-desc {
    font-size: 20px;
    position: absolute;
    top: 36%;
    left: 34%;
}

FIRST CONTAINER

.first-container {
    background-color: white;
    color: #45b29a;
    padding-bottom: 30px;
    padding-top: 10px;
}

.first-p {
    color: black;
}

.table-first-div {
    border-color: #4C6793;
    margin:auto;
    text-align: center;
  }

  .h2-first-container {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;

}

SECOND CONTAINER  

.second-container {
    background-color: #e0ebe8;
    padding-top: 5px;
    padding-bottom: 150px;
    position: relative;
}
.h2-second-container {
    color: #45b29a;
}
.image-logo-skill {
    width: 100px;
}
#image-1 {
    position: absolute;
    top: 38%;
    left: 30%;

}
#image-2{
    position: absolute;
    top: 38%;
    left: 45%;
}
#image-3 {
    position: absolute;
    top: 38%;
    left: 58%;
}
#text-second-container {
    position: absolute;
    left: 70%;
    top: 53%;
}
BOTTOM CONTAINER   

.bottom-container {
    background-color: white; 
    color: #45b29a;
    padding-top: 5px;
    padding-bottom: 3px;
    position: relative;
}

.logo-img {
    width: 50px;
}
.social-link-p {
    margin-bottom: 0px;
    margin-top: 80px;
}

.btn {
    background: #42ab93;
    background-image: -webkit-linear-gradient(top, #42ab93, #8ad4b8);
    background-image: -moz-linear-gradient(top, #42ab93, #8ad4b8);
    background-image: -ms-linear-gradient(top, #42ab93, #8ad4b8);
    background-image: -o-linear-gradient(top, #42ab93, #8ad4b8);
    background-image: linear-gradient(to bottom, #42ab93, #8ad4b8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: absolute;
    left: 44%;
    bottom: 32%;
}
  
.btn:hover {
    background-image: -webkit-linear-gradient(top, #8bcfb5, #8bcfb5);
    background: #8bcfb5;
    background-image: -moz-linear-gradient(top, #8bcfb5, #8bcfb5);
    background-image: -ms-linear-gradient(top, #8bcfb5, #8bcfb5);
    background-image: -o-linear-gradient(top, #8bcfb5, #8bcfb5);
    background-image: linear-gradient(to bottom, #8bcfb5, #8bcfb5);
    text-decoration: none;
}
  
FOOTER CONTAINER   

.footer-container {
    background-color: #e0ebe8;
}

.h3-footer-container {
    font-family: 'Montserrat', sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0px;
}

*/

